.App {
  text-align: center;
}

body {
  background-color: #f4f4f4;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-collapse form {
  margin-left: auto;
}

/* Ajusta el tamaño del campo de búsqueda */
.navbar-collapse input[type="search"] {
  width: 200px;
}

/* Ajusta los estilos del botón de búsqueda */
.navbar-collapse button[type="submit"] {
  margin-left: 10px; /* Añade espacio entre el campo de búsqueda y el botón */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
